<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><b>GeneratePassword.io</b></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="content">
    <div class="col-md-12">
    <h1>Password Generator</h1>
    <div class="center-block">
        <div class="row">
            <div class="input-group col-md-6">
              <input type="text" class="form-control" id="perfectPassword" placeholder="Your password will be generated here!">
              <span class="input-group-btn">
                <button class="btn btn-default glyphicon glyphicon-copy" type="button">  Copy</button>
              </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 clearfix">
                <div class="clearfix">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <br />
                            <button class="btn btn-success" type="button" onclick="return submitForm();">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Generate Password
                            </button>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Requirements</h3>
                            </div>
                            <div class="panel-body">
                                <fieldset>
                                    <div class="checkbox">
                                        <label>
                                            Word Limit
                                        </label>
                                        <input type="text" name="wordLimit" id="wordLimit" value="6" />
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="allowNumbers" id="allowNumbers" checked />Allow Numbers
                                        </label>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="allowSymbols" id="allowSymbols" checked>Allow Symbols
                                        </label>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    function submitForm() {
        var url = "passwordgenerator/generator";
        var getValues = {
            wordLimit : $("#wordLimit").val(),
            allowNumbers : $("#allowNumbers").prop('checked'),
            allowSymbols : $("#allowSymbols").prop('checked')
        }
        $.get( url , getValues, function (data) {
            $("#perfectPassword").val(data.generated_password);
        });
    }
</script>
